---json
{
  "permalink": "rss/upcoming-events.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Upcoming Events",
    "subtitle": "Upcoming events from the Kanawha Valley Homebrew Club.",
    "url": "https://kvhomebrew.club/events",
    "feedUrl": "https://kvhomebrew.club/rss/upcoming-events.xml",
    "author": {
      "name": "Kanawha Valley Homebrew Club",
      "email": "kvhomebrew@gmail.com"
    }
  }
}
---<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    {# <subtitle>{{ metadata.subtitle }}</subtitle> #}
    <description>{{ metadata.subtitle }}</description>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml" />
    <lastBuildDate>{{ collections.event | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
    {%- for event in collections.event | futureDates | sort(false, false, 'data.event_date') %}
    {% set absolutePostUrl %}{{ event.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {% set eventDate %}{{ event.data.event_date | event_month_abbr }} {{ event.data.event_date | event_day }}, {{ event.data.event_date | event_year }}{% endset %}
    <item>
      <title>{{ eventDate }}: {{ event.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <pubDate>{{ event.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
      {% if event.data.image %}
      <media:content 
        xmlns:media="http://search.yahoo.com/mrss/" 
        medium="image" 
        type="image/jpg" 
        url="https://kvhomebrew.club{{ event.data.image }}" />
      {% endif %}
      <description>{% if event.data.subtitle %}{{event.data.subtitle}}{% else %}Topics To Be Announced{% endif %}</description>
    </item>
    {%- endfor %}
  </channel>
</rss>