---
layout: page
header: false
container: false
---
{%- from "system/component.html" import component -%}
<article>
    <div class="container mx-auto max-w-5xl px-4">
        <header class="grid md:grid-cols-3 gap-10 py-14">
            <div class="md:col-span-2">
                <div class="mb-4">
                    {{ component('button', { url: '/events', text: '&larr; Events', theme: 'left-arrow' }) }}
                </div>
                <h1 class="text-5xl mb-4">
                {% if title %}
                    {{ title }}
                {% else %}
                    <abbr title="To Be Determined">TBD</abbr>
                {% endif %}
                </h1>
                {% if subtitle %}
                <p class="mb-4 text-xl">{{ subtitle }}</p>
                {% endif %}
            </div>
            <div class="flex md:block grid-cols-2">
                <div class="mb-4 mr-6">
                    {{ component('datebox', { date: date }) }}
                </div>
                <div class="mb-4">
                    {{ component('field-label', { label: 'Location' }) }}
                    {{ location }}
                </div>
            </div>
        </header>
    </div>

    {% if youtubeId or image %}
    <div class="bg-black bg-whitegrit">
        <div class="mx-auto max-w-5xl px-4">
        {% if youtubeId %}
            {% set videoId = youtubeId %}
            {% set videoTitle = title %}
            {% include 'blocks/youtube.html' %}
        {% elseif image %}
            <img src="{{ image }}nf_resize=smartcrop&w=300&h=300" />
        {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="mx-auto max-w-5xl px-4">
    <div class="grid lg:grid-cols-3 gap-10 py-10">
        <div class="col-span-2 mb-5">
            <div class="mb-6 text-lg">
                {{ content | safe }}
            </div>
            {% include 'blocks/sharing.html' %}
        </div>

        <div class="mb-5">
            {% if guests %}
            <div class="mb-6">
                {{ component('field-label', { label: 'Special Guests' }) }}
                <ol>
                {% for guest in guests %}
                    <li>{% if guest.website %}<a href="{{ guest.website }}" class="underline">{% endif %}{{ guest.name }}{% if guest.website %}</a>{% endif %}</li>
                {% endfor %}
                </ol>
            </div>
            {% endif %}

            {% if resources %}
            <div>
                {{ component('field-label', { label: 'Resources' }) }}
                <ol>
                {% for resource in resources %}
                    <li>{% if resource.url %}<a href="{{ resource.url }}" class="underline">{% endif %}{{ resource.title }}{% if resource.url %}</a>{% endif %}</li>
                {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</article>