{%- from "system/component.html" import component -%}
{% if theme == 'dark' %}
{% set themeClasses = " text-black" %}
{% else %}
{% set themeClasses = "border-black hover:border-opacity-100" %}
{% endif %}
<article class="relative mt-6 bg-white border-thin border-opacity-25 overflow-hidden rounded-md text-center {{ themeClasses }}">
    {% if event.data.image %}
    {% image { 
        src: './src/' + event.data.image, 
        alt: "",
        cls: "rounded-t-sm",
        styleName: "large",
        lazy: true
    } %}
    {% endif %}
    <header class="relative p-4">
        <div class="-mt-8 mb-4 text-center">
            {{ component('datebox-micro', { date: event.data.event_date }) }}
        </div>
        <h1 class="text-2xl mb-2">
            <a href="{{ event.url | url }}" class="no-underline">
                {% if event.data.title %}
                    {{ event.data.title }}
                {% else %}
                    Untitled
                {% endif %}
            </a>
        </h1>
        <p class="text-lg mb-0">{{ event.data.subtitle }}</p>
    </header>
    <a href="{{ event.url | url }}" class="absolute top-0 left-0 w-full h-full" aria-label="Visit {{ event.data.title }}."></a>
</article>