---
layout: page
header: false
container: false
---
{%- from "system/component.html" import component -%}
{% set site_members = [] %}
{% for member in collections.member %}
    {% set site_members = (site_members.push({
        name: member.data.name,
        portrait: member.data.portrait,
        slug: member.fileSlug,
        membership_year: member.data.membership_year
        }), site_members) %}
{% endfor %}
<article class="pt-14">
    <div class="container px-4">
        
        <header class="grid md:grid-cols-12 gap-6 md:gap-14 mb-14 mx-auto">
            <div class="md:col-span-3">
                <img src="{{ featured_image.image }}" alt="{{ featured_image.alt }}" class="block rounded" />
            </div>
            
            <div class="md:col-span-9">
                <div class="py-6 pr-6 text-center md:text-left">
                    <div class="mb-4">{{
                        component('button', {
                            theme: 'left-arrow',
                            text: 'Recipes',
                            url: '/recipes'
                        })
                    }}</div>

                    <h1 class="text-5xl md:text-5xl mb-2">
                    {% if title %}
                        {{ title }}
                    {% else %}
                        <abbr title="To Be Determined">Mystery Beer</abbr>
                    {% endif %}
                    </h1>

                    <div class="flex justify-center md:justify-start">
                        {{ component('datatag', { 
                            label: 'ABV', 
                            labelClasses: 'font-bold',
                            data: specs.abv + '%',
                            class: 'mr-4'
                        }) }}

                        {{ component('datatag', { 
                            label: 'Style', 
                            labelClasses: 'font-bold',
                            data: style,
                            class: ''
                        }) }}
                    </div>
                </div>

                <div class="text-2xl leading-9 mb-4 md:mb-12">
                    <div class="mb-6">{{ description | safe }}</div>
                    <div class="flex justify-center md:justify-start">
                        {% include 'blocks/sharing.html' %}
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="bg-black text-white py-10">
        <div class="container px-4">
            <div class="grid md:grid-cols-8 lg:grid-cols-12 gap-14 mb-6">
                <div class="md:col-span-2 lg:col-span-3">
                    <section class="mb-6 text-center md:text-left">
                        <h2 class="text-xl">Specifications</h2>
            
                        {{ component('datatag', { 
                            label: 'Yield', 
                            labelClasses: 'font-bold',
                            data: specs.yield,
                            class: 'mr-2'
                        }) }}
            
                        {{ component('datatag', { 
                            label: 'IBU',
                            labelClasses: 'font-bold',
                            data: specs.ibu,
                            class: 'mr-2'
                        }) }}
            
                        {{ component('datatag', { 
                            label: 'OG', 
                            labelClasses: 'font-bold',
                            data: specs.og | toFixed(3),
                            class: 'mr-2'
                        }) }}
            
                        {{ component('datatag', { 
                            label: 'FG', 
                            labelClasses: 'font-bold',
                            data: specs.fg | toFixed(3),
                            class: 'mr-2'
                        }) }}
                    </section>
            
                    <section class="text-center md:text-left">
                        <h2 class="text-xl">Ingredients</h2>
    
                        <div class="headings-font-body">
                            {% if ingredients %}
                            {{ ingredients | markdown | safe }}
                            {% else %}
                            <i>No ingredients listed.</i>
                            {% endif %}
                        </div>
                    </section>
                </div>
    
                <div class="md:col-span-4 lg:col-span-6">
                    <section class="text-xl leading-8 mb-6">
                        <h2 class="text-2xl text-center md:text-left">Directions</h2>
            
                        <div>
                            {% if directions %}
                            {{ directions | markdown | safe }}
                            {% else %}
                            <i>No directions listed.</i>
                            {% endif %}
                        </div>
                    </section>
    
                    {% if recipe_export %}
                    <section class="text-center md:text-left">
                        <h2 class="text-2xl text-center md:text-left">Resources</h2>        
                        {{ component('button', { url: recipe_export, text: 'Beer XML', theme: 'download' }) }}
                    </section>
                    {% endif %}
                </div>
    
                <div class="md:col-span-2 lg:col-span-3">
                    <h2 class="text-xl text-center md:text-left">Brewer</h2>
                    {% for member in site_members %}
                    {% if member.slug == author %}
                        {{ component('author-microbox', {
                            name: member.name,
                            image: member.portrait,
                            membership_year: member.membership_year,
                            wrapperClasses: 'mx-auto md:mx-0',
                            theme: 'dark'
                        }) }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</article>

{% include 'blocks/recent-recipes.html' %}