{%- from "system/component.html" import component -%}
<article class="mb-8">
    {% if recipe.data.featured_image %}
    <div class="mb-2"><a href="{{ recipe.url | url }}" class="no-underline"><img src="{{ recipe.data.featured_image.image }}?nf_resize=smartcrop&w=400&h=225" alt="{{ recipe.data.featured_image.alt }}" /></a></div>
    {% endif %}
    {% if recipe.data.style %}
    <div class="text-md font-bold text-lime">{{ recipe.data.style }}</div>
    {% endif %}
    <h1 class="text-3xl mb-1">
        <a href="{{ recipe.url | url }}" class="no-underline">
            {% if recipe.data.title %}
                {{ recipe.data.title }}
            {% else %}
                Mystery Beer
            {% endif %}
        </a>
    </h1>
    <div class="flex text-sm">
        {{ component('datatag', { 
            label: 'ABV', 
            labelClasses: 'font-bold',
            data: recipe.data.specs.abv + '%',
            class: 'mr-2'
        }) }}

        {{ component('datatag', { 
            label: 'IBU', 
            labelClasses: 'font-bold',
            data: recipe.data.specs.ibu,
            class: 'mr-2'
        }) }}

        {{ component('datatag', { 
            label: 'OG', 
            labelClasses: 'font-bold',
            data: recipe.data.specs.og,
            class: 'mr-2'
        }) }}
    </div>
</article>