{%- from "system/component.html" import component -%}
<article class="mb-8">
    {% if recipe.data.image %}
    <div class="mb-2"><a href="{{ recipe.url | url }}" class="no-underline"><img src="{{ recipe.data.image }}?nf_resize=fit&w=100&h=50" /></a></div>
    {% endif %}
    <div class="text-md font-bold text-lime">{{ recipe.data.style }}</div>
    <h1 class="text-3xl mb-1">
        <a href="{{ recipe.url | url }}" class="no-underline">
            {% if recipe.data.title %}
                {{ recipe.data.title }}
            {% else %}
                Mystery Beer
            {% endif %}
        </a>
    </h1>
    <div class="flex text-sm">
        {{ component('datatag', { 
            label: 'ABV:', 
            data: recipe.data.abv + '%',
            class: 'mr-2'
        }) }}

        {{ component('datatag', { 
            label: 'IBU:', 
            data: recipe.data.ibu,
            class: 'mr-2'
        }) }}
    </div>
</article>