<section class="pt-20">
  <div class="container px-4">
    <div class="grid lg:grid-cols-4 gap-10">
      <div class="lg:col-span-1">
        <h1 class="text-3xl">Benefits of club membership include&hellip;</h1>
      </div>
      <div class="lg:col-span-3">
        <ul class="columns-2 lg:columns-3 md:text-lg">
          <li class="mb-4">Club meetings the last Thursday of every month</li>
          <li class="mb-4">Organized group brew days</li>
          <li class="mb-4">Group Trips &amp; Gatherings</li>
          <li class="mb-4">Fellowship and guidance of other brewers</li>
          <li class="mb-4">Discounted group grain buys</li>
          <li class="mb-4">Membership card with discounts at partner retailers</li>
          <li class="mb-4">Used equipment sales</li>
          <li class="mb-4">Expert guest speakers from the lands of yeast, hops, and brewing science!</li>
          <li class="mb-4">Fun club competitions</li>
          <li class="mb-4">Local ingredients (yeast banks, foraged adjuncts, hop giveaways)</li>
        </ul>
      </div>
    </div>
  </div>
</section>