<section class="py-40 bg-gray-500">
  <div class="container">
    <h1>Benefits of club membership include&hellip;</h1>
    <ul class="grid grid-cols-3">
      <li>Club meetings the last Thursday of every month</li>
      <li>Organized group brew days</li>
      <li>Group Trips &amp; Gatherings</li>
      <li>Fellowship and guidance of other brewers</li>
      <li>Discounted group grain buys</li>
      <li>Membership card with discounts at partner retailers</li>
      <li>Used equipment sales</li>
      <li>Expert guest speakers from the lands of yeast, hops, and brewing science!</li>
      <li>Fun club competitions</li>
      <li>Local ingredients (yeast banks, foraged adjuncts, hop giveaways)</li>
    </ul>
  </div>
</section>