<section class="py-40 bg-gray-200">
  <div class="container">
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <div class="grid grid-cols-2">
          <div>
            <h2>Try before you buy</h2>
          </div>

          <div>
            <span>only</span>
            <span>$20/yr</span>
            <a href="/join-today" class="btn">Join Today</a>
          </div>
        </div>
      </div>

      <div class="col-span-auto">
        <aside>
          <h1>Big Brew<br/>Little Brew</h1>
          <p>Looking for a structured way to get into the art of brewing? Brand spankin’ new for 2021, “Big Brew Little Brew” is our brewer mentorship program.</p>
          <p><a href="/big-brew-little-brew" class="button">Learn More &amp; Apply</a></p>
        </aside>
      </div>
    </div>
  </div>
</section>