<section class="py-20vw lg:pb-40 lg:pt-60 text-white bg-hops-gradient bg-cover">
  <div class="flex flex-col container px-4 items-center">
    <h1 class="mb-12 text-4xl md:text-4xl lg:text-6xl text-center">{{ settings.site_slogan }}</h1>
    <p class="mb-6 font-normal text-center text-xl font-display">Learn to brew popular beer styles & build your own recipes with hobbyists, pro brewers, and friends.</p>
    
    <section class="text-lg md:inline-flex lg:inline-flex gap-6 text-beige font-bold">
      <h2 class="font-body text-center md:text-left lg:text-left">Plus+</h2>
      <ul class="md:inline-flex lg:inline-flex gap-6 text-center md:text-left lg:text-left">
        <li>Group Grain Discounts</li>
        <li>Used Equipment Sales</li>
        <li>Exclusive Recipes</li>
      </ul>
    </section>
  </div>
</section>