<section class="py-40 bg-gray-300">
  <div class="container">
    <div class="grid grid-cols-2">
      <div>
        <h1>Brew Awesome Beer</h1>
        <p>The KVHC was founded in 2018 to bring together people who carry on the old traditions of crafting great beer at home.</p>
        <p>Our members’ expertise ranges from seasoned brewers with 30+ years of experience to those who are looking for a more guided approach to learning the craft from the beginning.</p>
      </div>
      <figure>
        <figcaption>
          <img src="https://placebeer.com/775/430" />
          <p>KVHC members gather for events like Big Brew Day. Timlapse pictured here in 2021.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>