@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  @apply font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
  margin-bottom: 1rem;
}

.headings-font-body h2,
.headings-font-body h3,
.headings-font-body h4 {
  @apply font-body;
  @apply font-bold;
  margin-bottom: 0;
}

a {
  @apply underline;
}

p {
  margin-bottom: 1em;
}

lite-youtube {
  max-width: 100% !important;
}

/* Custom Sections */

#navbar.is-notfixed {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    5% calc(100% - 18px),
    12% calc(100% - 3px),
    23% calc(100% - 28px),
    32% calc(100% - 9px),
    36% calc(100% - 19px),
    44% calc(100% - 0px),
    50% calc(100% - 14px),
    58% calc(100% - 6px),
    62% calc(100% - 17px),
    70% calc(100% - 3px),
    76% calc(100% - 19px),
    82% calc(100% - 8px),
    91% calc(100% - 20px),
    100% 100%,
    100% 0%
  );
}

#story-intro {
  position: relative;
}

  #story-intro::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    @apply bg-black;
    clip-path: polygon(
      0% 100%,
      10% 20%,
      18% 72%,
      30% 10%,
      49% 83%,
      58% 10%,
      68% 90%,
      80% 25%,
      90% 20%,
      100% 100%
    );
  }

  @screen sm {

    #story-intro::before {
      clip-path: polygon(
        0% 100%, 
        10% 10%, 
        15% 30%, 
        20% 60%, 
        22% 95%, 
        28% 10%, 
        32% 80%, 
        35% 0%, 
        42% 70%, 
        50% 30%,
        53% 90%,
        58% 12%,
        60% 40%,
        68% 70%,
        76% 10%,
        79% 83%,
        82% 63%,
        90% 20%,
        100% 100%
      );
    }
  }

.columns-2 {
  column-count: 2;
  column-gap: 2rem;
}

  @screen lg {
    .lg\:columns-3 {
      column-count: 3;
      column-gap: 2.5rem;
    }
  }

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  /* @apply bg-gray-800; */
}
