{%- from "system/component.html" import component -%}
<section class="pt-6 pb-12">
    <header class="mb-10 text-center">
        <div class="container px-4">
            <h1 class="text-4xl">Upcoming Events</h1>
        </div>
    </header>
    <div class="container px-4 mb-8 lg:mb-0">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8">
        {% set futureEvents = collections.event | futureDates | sort(false, false, 'data.event_date') %}
        {% set gridClasses = "flex flex-col mb-10" %}
        {% for event in futureEvents %}
            {% if loop.index0 < 4 %}
                {% if loop.index > 3 %}
                {% set gridClasses = gridClasses + "block lg:hidden" %}
                {% endif %}
                <div class="{{ gridClasses }}">
                {% include 'events--teaser.html' %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <footer>
        <p class="text-center">
            {{ component('button', {
                url: '/events',
                text: 'View More Events',
                theme: 'black'
            }) }}
    </footer>
</section>