---
title: Upcoming Events
subtitle: Join us for an upcoming event!
layout: events
eleventyExcludeFromCollections: true
---

<section class="mt-15">
    {% set eventslist = collections.event %}

    {% for event in eventslist | reverse %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ event.url | url }}">
                    {% if event.data.title %}
                        {{ event.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ event.date | readableDate }}
                    by
                    <a>{{ event.data.author }}</a>

                </time>
            </p>
            <p>
                <a href="{{ event.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>
        </article>
    {% endfor %}
</section>