<aside class="lg:w-[360px] shrink-0 py-4 px-2 bg-white lg:toolbar-shadow-l">
    <div class="lg:sticky top-4">
        <section class="mb-4 border-b-thin border-black border-opacity-25">
            <div class="flex justify-between px-2">
                <h1 class="mb-0 font-body font-bold">Upcoming Events</h1>
                <div class="justify-self-end text-sm text-lime"><a href="/events" class="" aria-label="View all events">View all</a></div>
            </div>
            <div class="py-2 overflow-y-scroll lg:max-h-[50vh]">
            {% for event in collections.event | futureDates | sort(false, false, 'data.event_date') %}
                <article class="relative p-2 mb-1 grid grid-cols-5 gap-x-2 hover:bg-beige rounded-md {{ 'bg-beige' if event.url == page.url }}">
                    <div class="col-start-1 col-end-3">
                        {% if event.data.image %}
                        {% image { 
                            src: './src/' + event.data.image, 
                            alt: "",
                            cls: "rounded-sm",
                            styleName: "large",
                            lazy: true
                        } %}
                        {% endif %}
                    </div>
                    <div class="col-start-3 col-end-6">
                        <div class="text-sm text-red">{{ event.data.event_date | event_month_abbr }} {{ event.data.event_date | event_day }}, {{ event.data.event_date | event_year }}</div>
                        <div class="text-md font-bold"><a href="{{ event.url }}" class="no-underline">{{ event.data.title }}</a></div>
                    </div>
                    <a href="{{ event.url }}" class="absolute inset-0" aria-label="{{ event.data.title }}"></a>
                </article>
            {% endfor %}
            </div>
        </section>

        <section class="mb-4 border-b-thin border-black border-opacity-25">
            <div class="px-2">
                <h1 class="mb-0 font-body font-bold">Categories</h1>
            </div>
            <div class="py-2">
                <ul>
                {% for category in event_categories.categories %}
                    <li>
                        <a href="/events/categories/{{ category.id }}" class="flex items-center gap-x-4 rounded-md no-underline hover:bg-beige p-2">
                            <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#7e7e7e">
                                <circle cx="10" cy="10" r="10"/>
                            </svg>
                            <span class="text-sm font-bold">{{ category.name }}</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</aside>