{%- from "system/component.html" import component -%}
<aside class="lg:w-[360px] shrink-0 py-4 px-2 bg-white lg:toolbar-shadow-l border-lime border-t-4">
    <div class="lg:sticky md:grid grid-cols-2 gap-x-8 lg:block top-4">
        <section class="mb-4 border-b-thin border-black border-opacity-25">
            <div class="flex justify-between px-2">
                <h1 class="mb-0 font-body font-bold text-xl lg:text-md">Upcoming Events</h1>
                <div class="justify-self-end text-sm text-lime"><a href="/events" class="" aria-label="View all events">View all</a></div>
            </div>
            <div class="py-2 overflow-y-scroll lg:max-h-[50vh]">
            {% for event in collections.event | futureDates | sort(false, false, 'data.event_date') %}
                <article class="relative p-2 mb-1 grid grid-cols-5 gap-x-2 hover:bg-beige rounded-md {{ 'bg-beige' if event.url == page.url }}">
                    <div class="col-start-1 col-end-3">
                        {% if event.data.image %}
                        {% image { 
                            src: './src/' + event.data.image, 
                            alt: "",
                            cls: "rounded-sm",
                            styleName: "large",
                            lazy: true
                        } %}
                        {% endif %}
                    </div>
                    <div class="col-start-3 col-end-6">
                        <div class="text-sm text-red">{{ event.data.event_date | event_month_abbr }} {{ event.data.event_date | event_day }}, {{ event.data.event_date | event_year }}</div>
                        <div class="text-md font-bold"><a href="{{ event.url }}" class="no-underline">{{ event.data.title }}</a></div>
                    </div>
                    <a href="{{ event.url }}" class="absolute inset-0" aria-label="{{ event.data.title }}"></a>
                </article>
            {% endfor %}
            </div>
        </section>

        <section class="mb-4">
            <div class="px-2">
                <h1 class="mb-0 font-body font-bold text-xl lg:text-md">Event Categories</h1>
            </div>
            <div class="py-2 overflow-y-scroll lg:max-h-[40vh]">
                {{ component('category-list', {
                    categories: event_categories.categories,
                    theme: {
                        template: 'micro-item',
                        color: '#252821'
                    }
                }) }}
            </div>
        </section>
    </div>
</aside>