{# 
params:
    tag: from tags[0] or a string for a specific collection. Collection items can have multiple tags in the tags array.
    fileSlug: from page.fileSlug
#}
<div id="cms-edit-link"></div>
<script>
    (function() {
        const cmsUser = localStorage.getItem('netlify-cms-user');
        if (cmsUser) {
            const editLink = `<a href="/admin/#/collections/{{ params.tag }}/entries/{{ params.fileSlug }}">Edit</a>`;
            document.getElementById('cms-edit-link').innerHTML = editLink;
        }
    })();
</script>