<div>
<time class="inline-block">
    <div class="flex">
        <span class="p-4 flex items-center justify-center text-5xl font-display bg-lime bg-hops-green-muted bg-cover text-white">
            {{ params.date | event_day }}
        </span>
        <span class="p-4 font-display font-lg leading-5 text-left bg-pine text-white">
            {{ params.date | event_month }}<br/>
            {{ params.date | event_year }}<br/>
            {{ params.date | event_time }}
        </span>
    </div>
</time>
</div>