---
title: Upcoming Events
subtitle: Join us for an upcoming event!
header: false
container: false
layout: page
---
{%- from "system/component.html" import component -%}
<section class="py-14">
    {% set theme = 'light' %}
    <div class="max-w-6xl mx-auto px-4">
        {{ component('titlebar', { title: title, subtitle: subtitle }) }}

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 mb-10">
            {% set futureEvents = collections.event | futureDates | sort(false, false, 'data.event_date') %}
            {% for event in futureEvents %}
                {% if (loop.index == 3) %}
                {% include 'blocks/subscribe-teaser.html' %}
                {% endif %}
                {% include 'events--teaser.html' %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-14 bg-black bg-whitegrit text-white">
    {% set theme = 'dark' %}
    <div class="max-w-6xl mx-auto px-4">
        {{ component('titlebar', { title: 'Past Events', subtitle: 'Explore notes and videos from past events.', textSizeClass: 'text-5xl' }) }} 

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-10 mb-10">
            {% set pastEvents = collections.event | pastDates | sort(false, false, 'data.event_date') | reverse %}
            {% for event in pastEvents %}
                {% include 'events--teaser.html' %}
            {% endfor %}
        </div>
    </div>
</section>