---
title: Upcoming Events
subtitle: Join us for an upcoming event!
header: false
container: false
layout: page
---
{%- from "system/component.html" import component -%}
<section class="pt-14 pb-8">
    {% set theme = 'light' %}
    <div class="max-w-6xl mx-auto px-4">
        {{ component('titlebar', { title: title, subtitle: subtitle }) }}
        
        <div class="" x-data="{ 
            categories: {{ event_categories.categories | getCategoryFieldValues('id') }},
            activeCategories: {{ event_categories.categories | getCategoryFieldValues('id') }}
        }" aria-hidden="true">
            <div class="mb-8 pb-2 border-b-thin border-solid border-black/10 text-center md:text-left">
                <div>
                    <div class="md:inline-block mb-2 mr-4 text-sm font-body font-bold">Categories</div>
                    {% for category in event_categories.categories %}
                    <label class="inline-block cursor-pointer">
                        <input type="checkbox" value="{{ category.id }}" x-model="activeCategories" class="sr-only peer" checked />
                        <div class="py-1 px-3 text-sm text-black/70 font-bold rounded-full bg-white shadow-[inset_0_0_0_1px_rgba(0,0,0,0.1)] peer-checked:bg-lime peer-checked:text-white">{{ category.name }}</div>
                    </label>
                    {% endfor %}
                    <div class="inline-block py-1 px-3 text-sm underline cursor-pointer" @click="activeCategories = categories">Select All</div>
                </div>
            </div>

            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 mb-10">
                {% set futureEvents = collections.event | futureDates | sort(false, false, 'data.event_date') %}
                {% for event in futureEvents %}
                    {% if (loop.index == 3) %}
                    {% include 'blocks/subscribe-teaser.html' %}
                    {% endif %}
                    <template x-if="activeCategories.some(item => {{event.data.categories | jsonStringify}}.includes(item))">
                    {% include 'events--teaser.html' %}
                    </template>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<aside class="py-8 bg-white border-t-thin border-black border-opacity-25">
    <div class="max-w-6xl mx-auto px-4">
        <div class="md:flex justify-between items-center text-center bg-white rounded-lg">
            <p class="mb-4 md:mb-0 font-display text-lg md:text-xl">Are we missing an upcoming event? Help us out!</p>
            <div>
                {{ component('button', {
                    text: 'Suggest an event',
                    url: '/forms/suggest-an-event/'
                }) }}
            </div>
        </div>
    </div>
</aside>

<section class="py-14 bg-black bg-whitegrit text-white">
    {% set theme = 'dark' %}
    <div class="max-w-6xl mx-auto px-4">
        {{ component('titlebar', { title: 'Past Events', subtitle: 'Explore notes and videos from past events.', textSizeClass: 'text-5xl' }) }} 

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-10 mb-10">
            {% set pastEvents = collections.event | pastDates | sort(false, false, 'data.event_date') | reverse %}
            {% for event in pastEvents %}
                {% include 'events--teaser.html' %}
            {% endfor %}
        </div>
    </div>
</section>