<footer class="text-center bg-hops-gradient bg-cover text-white w-full py-8">

    {% if navigation.items %}
    <nav class="mb-4">
        <ul class="font-display font-normal text-lg pt-6 lg:pt-0 list-reset lg:flex justify-center flex-1 items-center">
            {% for item in navigation.items %}
                <li class="nav__item mr-3">
                    <a @click="isOpen = false" class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4" href="{{ item.url }}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    <small class="text-lg opacity-75 text-beige">Copyright © {% year %} {{settings.site_name}}</small>
</footer>
