<section class="p-8 bg-lime font-display text-2xl text-white">
    <div class="container md:flex lg:flex items-center justify-center text-center">
        <p class="mb-4">We’re an <a href="https://www.homebrewersassociation.org" class="underline">American Homebrewers Association</a> club!</p>
        <p class="md:mx-8"><a href="https://www.homebrewersassociation.org"><img src="/static/img/aha-logo.png" alt="American Homebrewers Association" width="130" class="inline-block" /></a></p>
    </div>
</section>