<section class="relative px-8 pt-12 pb-8 bg-white font-display text-2xl border-t-thin border-black border-opacity-25">
    <div class="absolute" style="top: 0; left: 50%; transform: translate(-40px, -40px);">
        <a href="https://www.homebrewersassociation.org" class="block mx-auto">
            <img src="/static/img/aha-logo.png" alt="American Homebrewers Association" width="80" class="inline-block" />
        </a>
    </div>
    <div class="container md:flex lg:flex items-center justify-center text-center">
        <p class="mb-4 lg:mb-0">An official <a href="https://www.homebrewersassociation.org" class="underline">American Homebrewers Association</a> club!</p>
    </div>
</section>