{% set buttonText = params.text | safe %}
{% switch params.theme %}
  {% case 'left-arrow' %}
    {% set classes = 'inline-block py-2 px-4 bg-white border-black border-thin border-opacity-25 rounded-full font-body font-bold hover:bg-black hover:text-white' %}
    {% set buttonText = '&larr; ' + buttonText %}
  {% case 'black' %}
    {% set classes = 'inline-block py-2 px-4 rounded-full font-bold text-white bg-black hover:bg-black_hover' %}
  {% default %}
    {% set classes = 'inline-block py-2 px-4 rounded-full font-bold text-white bg-orange hover:bg-orange_hover' %}
{% endswitch %}
<a href="{{ params.url }}" class="{{ classes }} no-underline">{{ buttonText | safe }}</a>